{% extends "questions/layout.html" %}

{% block body %}

    <h1>Edit Guide: {{ guide.title }}</h1>

    <form action="{% url 'guide_update' guide.pk %}" method="post">
        {% csrf_token %}
        {{ form.media }}
        <div class="form-group">
            <label>Title</label>
            <input type="text" class="form-control" name="title" placeholder="Edit title..." required id="id_title" value="{{ form_data.title }}">
        </div>
        <div class="form-group">
            <label>General Description:</label>
            <div class="d-block">
                {{ form.description }}
            </div>
        </div>
        <div class="form-group">
            <label>Content</label>
            <div class="d-block">
                {{ form.content }}
            </div>
        </div>
        <div class="form-group">
            <label>Tags</label>
            <input type="text" data-role="tagsinput" class="form-control" name="tags" required id="id_tags" placeholder="Add tag..." value="{% for tag in form_data.tags %}{{ tag }},{% endfor %}">
        </div>
        
        <input type="submit" name="submit" value="Save Guide" class="btn btn-primary">
        <a href="{% url 'guide_show' guide.pk %}" class="btn btn-secondary">Cancel</a>
    </form>


{% endblock %}