{% extends "questions/layout.html" %}

{% block body %}

    <h1>{{ question.title }}</h1>

    <h6>Edit your question:</h6>
    <form action="{% url 'question_update' question.pk %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label>Title</label>
            <input type="text" class="form-control" name="title" placeholder="Edit title..." required id="id_title" value="{{ form_data.title }}">
        </div>
        <div class="form-group">
            <label>Body</label>
            <textarea class="form-control" name="body" cols="40" rows="10" required id="id_body" placeholder="Edit body...">{{ form_data.body }}</textarea>
        </div>
        <div class="form-group">
            <label>Tags</label>
            <input type="text" data-role="tagsinput" class="form-control" name="tags" required id="id_tags" placeholder="Add tag..." value="{% for tag in form_data.tags %}{{ tag }},{% endfor %}">
        </div>
        <input type="submit" name="submit" value="Save" class="btn btn-primary">
        <a href="{% url 'question_show' question.pk %}" class="btn btn-secondary">Cancel</a>
    </form>

{% endblock %}

