{% extends "questions/layout.html" %}

{% block body %}

    <!-- Question -->
    <div>

        <!-- Question: Title -->
        <div class="border-bottom">   
            <!-- Question Info: title, created by & created at -->
            <div class="d-inline-block">
                <!-- Question: Title -->
                <h1 class="d-inline">{{ question.title }}</h1>
                <!-- Question Actions: Edit & Delete -->
                {% if user.is_authenticated %}
                    {% if question.created_by == user %}
                        <!-- Actions: Edit -->
                        <a href="{% url 'question_edit' question.pk %}" class="d-inline">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"></path>
                                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"></path>
                            </svg>
                        </a>

                        <!-- Actions: Delete -->
                        <form action="{% url 'question_delete' question.pk %}" method="post" class="d-inline">
                            {% csrf_token %}
                            <button type="submit" class="btn">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"></path>
                                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"></path>
                                </svg>
                            </button>
                        </form>
                    {% endif %}
                {% endif %}

                <!-- Info: Asked by -->
                <p class="mb-0">Asked by: {{ question.created_by }} on {{ question.created_at }}</p>

                <!-- Info: Tags -->
                <div class="mb-2">
                    {% for tag in question.tags.all %}
                    <a href="" class="badge badge-info">#{{ tag }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    
        <!-- Question: Body -->
        <div class="container p-0">
            <div class="p-2 row">
                <!-- Actions: Upvote/Bookmark/Downvote -->
                {% if user.is_authenticated %}
                <div class="d-inline-block align-top col-1 text-center">
                    <!-- Actions: Upvote -->
                    <a href="{% url 'question_upvote' question.pk %}" class="d-block">
                        <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-caret-up-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7.247 4.86l-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"></path>
                        </svg>
                    </a>
                    
                    <!-- Actions: Bookmark -->
                    {% if question.bookmarked_by_user %}
                    <a href="{% url 'question_bookmark' question.pk %}" class="d-block">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-bookmark-star-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M4 0a2 2 0 0 0-2 2v13.5a.5.5 0 0 0 .74.439L8 13.069l5.26 2.87A.5.5 0 0 0 14 15.5V2a2 2 0 0 0-2-2H4zm4.16 4.1a.178.178 0 0 0-.32 0l-.634 1.285a.178.178 0 0 1-.134.098l-1.42.206a.178.178 0 0 0-.098.303L6.58 6.993c.042.041.061.1.051.158L6.39 8.565a.178.178 0 0 0 .258.187l1.27-.668a.178.178 0 0 1 .165 0l1.27.668a.178.178 0 0 0 .257-.187L9.368 7.15a.178.178 0 0 1 .05-.158l1.028-1.001a.178.178 0 0 0-.098-.303l-1.42-.206a.178.178 0 0 1-.134-.098L8.16 4.1z"></path>
                        </svg>
                    </a>
                    {% else %}
                    <a href="{% url 'question_bookmark' question.pk %}" class="d-block">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-bookmark" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"></path>
                        </svg>
                    </a>
                    {% endif %}
                    
                    <!-- Actions: Downvote -->
                    <a href="{% url 'question_downvote' question.pk %}" class="d-block">
                        <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-caret-down-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"></path>
                        </svg>
                    </a>
                </div>
                {% endif %}
        
                <!-- Info: # of Votes & Answers -->
                <div class="q-list-info d-inline-block px-2 align-top col-1">
                    <!-- Info: Votes -->
                    <div class="q-list-votes text-center">
                        <p class="my-0">{{ question.total_votes|default:"0" }}</p>
                        <p class="my-0">Votes</p>
                    </div>
                    <!-- Info: Answers -->
                    <div class="q-list-answers text-center">
                        <p class="my-0">{{ question.answers_count|default:"0" }}</p>
                        <p class="my-0">Answers</p>
                    </div>
                </div>
                
                <div class="q-list-summary d-inline-block align-top col-10">
                    <p class="" >{{ question.body|safe }}</p>  
                </div>
            </div>    
        </div>
    </div>

    <!-- Answers -->
    <div class="pt-4">
        <div>
            <!-- Display Answers -->
            <h4>Answers</h4>
            {% for answer in answers %}
            <div class="border-bottom pt-4">
                <div class="pb-4">
                    <p class="d-inline">Answered by: {{answer.created_by}} on {{answer.created_at}}</p>
                    {% if user.is_authenticated %}
                        {% if answer.created_by == user %}
                        <!-- Actions: Edit -->
                        <a href="{% url 'answer_edit' answer.pk %}" class="d-inline">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"></path>
                                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"></path>
                            </svg>
                        </a>
    
                        <!-- Actions: Delete -->
                        <form action="{% url 'answer_delete' answer.pk %}" method="post" class="d-inline">
                            {% csrf_token %}
                            <button type="submit" class="btn">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"></path>
                                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"></path>
                                </svg>
                            </button>
                        </form>
                        {% endif %}
                    {% endif %}
                </div>
                <p>{{answer.body|safe}}</p>
            </div>
            {% empty %}
            <p>No answers yet</p>
            {% endfor %}
        </div>

        <!-- Write Anser -->
        <div class="pt-4">
            <h4>Your Answer:</h4>
            {% if user.is_authenticated %}
            <form action="{% url 'answer_new' question.pk %}" method="post">
                {% csrf_token %}
                {{ answer_form.media }}
                {{ answer_form }}
                <input type="submit" value="Post Your Answer" class="btn btn-primary">
            </form>
            {% else %}
            <p>Login to answer this question</p>
            {% endif %}
        </div>
    </div>

    

{% endblock %}